/* Estilos para a seção Middle */
.middle {
    flex: 2; /* Ocupa mais espaço no layout */
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    text-align: center;
}