/* Estilos para a seção Left */
.right {
    width: 100%;
    height: auto;
    background-color: #5a5a5a;
    display: flex;
    padding: 1px;
}

.right-top{
    display: flex;
    flex-direction: column;
    background-color: #e4cdcd;
    width: 200px;
    height: 100px;
}

.right-campos{
    display: flex;
    flex-direction: column;
    background-color: #666666;
    width: 200px;
    height: 100px;
}

.right-metodos{
    display: flex;
    flex-direction: column;
    background-color: #692727;
    width: 200px;
    height: 100px;
}